{% load static %}
<!DOCTYPE html>
<html>
   <head>
   		<meta charset="utf-8">
		<title>about_students </title>
		<meta name="description">
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Handlee|Indie+Flower" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
		<style type="text/css">
			h1{font-family: 'Indie Flower', cursive;}
			h3{font-family: 'Handlee', cursive;}
			body {
    			margin-right: 5%; /* Отступ справа */
    			margin-left: 2%; /* Отступ слева */
   				 }
		</style>
		<script src="{% static 'bootstrap.min.js' %}"></script>
   </head>
   <body>
   	<nav class=".navbar-inverse">
   		<div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="/">Главная</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		       <!-- <li><a ">Контакты</a></li> -->
		        <li><a href="/students/">Студенты</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
    </nav>
	<h1>{{ student_full.surname }} {{ student_full.name }}</h1>
		  <p>_____________________________________________________</p>
	      <p>Дата рождения:   {{ student_full.date_of_birth }}</p>
	      <p>_____________________________________________________</p>
	      <p>Адресс:   {{ student_full.address }}</p>
		  <p>_____________________________________________________</p>
	      <p>e-mail:   {{ student_full.email }}</p>
	      <p>_____________________________________________________</p>
	      <p>skype login:   {{ student_full.skype }}</p>
	      <p>_____________________________________________________</p>
	      <p>phone:   {{ student_full.phone }}</p>
		  <p>_____________________________________________________</p>
	      <p>курсы:   {{ course_name.name }}</p>
   </body>
</html>
