{% extends "base.html" %}


{% load static %}


{% block title %}<title>Brain Bursa Student list</title>{% endblock %}


{% block nav_students %}active{% endblock %}


{% block include %}{% include 'include/header_include.html' %} {%endblock%}


{% block content %}

  <div class = "description">
    <h1 class=title_description>BrainBursa students list</h1>
    <p class=content_description>Below is a list of the best students of the course </p>
</div>

<h1>Список студентов</h1>
<div class="panel panel-default">
<table class="table">
    <tr class="title_table">
      <td>#</td>
      <td>фамилия имя</td>
      <td>адрес</td>
      <td>skype</td>
      <td>курсы</td>
    </tr>
    {% for student in students %}
    <tr class="title_table">
      <td>{{student.id}}</td>
      <td><a href="{% url 'students:detail' student.id%}">{{student.surname}} {{student.name}}</a></td>
      <td>{{student.address}}</td>
      <td>{{student.skype}}</td>
      <td>
        {% for course in student.courses.all %}
      <a href="{% url 'courses:detail' course.id%}">{{course}}</a><br>
      {% endfor %}
      </td>
    </tr>
    {% endfor %}

  </table>
</div>
{% endblock content %}
