{% extends "base.html" %}


{% load staticfiles %}


{% block title %}{{ title }}{% endblock title %}


{% block active_students %}active{% endblock active_students %}


{%  block content %}
<div class="container-fluid">
  <div class="hero-unit">

        {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        {% endif %}

    <div class="container">
        <h2>Создание нового студента</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
        <input type="submit" value="Создать">
        </form>
    </div>
  </div>
</div>
{% endblock %}
