{% extends "base.html"%}
{% load static %}


{% block title %}Students detail{% endblock title %}


{% block nav_class_students %}active{% endblock %}


{% block main_content %}
  <div class="table">
    <h3>Список студентов</h3>
    </div>
      <div class="td">
      <table class="table">
        <col width="35">
          <tr >
            <th>#</th>
            <th>имя фамилия</th>
            <th>адрес</th>
            <th>skype</th>
            <th>курсы</th>
          </tr>
        {% for i in students %}
          <col width="210">
          <tr>
            <td>{{i.id}}</td>
            <td><a href="{% url 'students:detail' i.id %}">{{i.surname}} {{i.name}}</a></td>
            <td>{{i.address}}</td>
            <td>{{i.skype}}</td>
            <td>{% for j in i.courses.all %}<a href="{% url 'courses:detail' j.id %}">{{j.name}}</a><br>
                {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </table>
      </div>
{% endblock main_content %}