{% extends "base.html" %}

{% load static %}


{% block nav_class_students %}active{% endblock nav_class_students %}


{% block title %}about_students{% endblock title %}


{% block content %}
	<h1>{{ student_full.surname }} {{ student_full.name }}</h1>
		  <p>_____________________________________________________</p>
	      <p>Дата рождения:   {{ student_full.date_of_birth }}</p>
	      <p>_____________________________________________________</p>
	      <p>Адресс:   {{ student_full.address }}</p>
		  <p>_____________________________________________________</p>
	      <p>e-mail:   {{ student_full.email }}</p>
	      <p>_____________________________________________________</p>
	      <p>skype login:   {{ student_full.skype }}</p>
	      <p>_____________________________________________________</p>
	      <p>phone:   {{ student_full.phone }}</p>
		  <p>_____________________________________________________</p>
	      <p>Курсы: </p>
	      {% for course in student_full.courses.all %}
			<br><a href="/courses/{{ course.id }}">{{ course.name }}</a></td></br></p>
          {% endfor %}
{% endblock content %}
