{% extends "base.html" %}


{% load staticfiles %}


{% block title %}Edit student{% endblock title %}


{% block active_students %}active{% endblock active_students %}


{% block content %}

<div class="container-fluid">
  <div class="hero-unit">
  <div class="container theme-showcase" role="main">

      {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
      {% endif %}

    <h2>Редактирование данных студента</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Изменить" class="btn btn-primary"/>
      </form>
  </div>
  </div>
</div>
{% endblock content %}
