{% extends "base.html" %}

{% load static %}


{% block nav_class_students %}active{% endblock nav_class_students %}


{% block title %}students list{% endblock title %}


{% block student_course %}{% url 'students:list_view' %}{% endblock %}


{% block content %}
<h1 align="center">СПИСОК СТУДЕНТИКОВ</h1></br>
  	<table border="0">
		<col width="50" valign="top">
   		<col width="200" valign="top">
		<col width="300" valign="top">
   		<col width="250" valign="top">
		<col width="50" valign="top">
    	  <tr>
		    <th> # </th>
		    <th> фамилия имя </th>
			<th> адресс </th>
			<th> skype </th>
			<th> курсы </th>
		  </th>
		  </tr>
		  {% for stud in list_students %}
		  <tr><td>{{ stud.id }}</td><td><a href="/students/{{ stud.id }}/" >{{ stud.name }} {{ stud.surname }}</a></td>
		  <td> {{ stud.address }} </td><td> {{ stud.skype }} </td>
		   {% for course in stud.courses.all %}
		  	<td><a href="/courses/{{ course.id }}">{{course.name}}</a></td>
		   {% endfor %}
		  </td>
		  </tr>
		  {% endfor %}
		</table>
   		<p></p>
{% endblock content %}

