<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Main</title>
    {% load static %}
    <!-- Bootstrap -->
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">
    
  </head>
  <body>
 
<div class="container">
     <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
               
          <li><a href="{% url 'index'%}">Главная</a></li>
          <li><a href="{% url 'contact'%}">Контакты</a></li>
          <li><a href="{% url 'students:list_view' %}">Студенты</a></li>
         
         </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  
    <!-- Main jumbotron for a primary marketing message or call to action -->
 
        
    <div class="container">

      <div class="row">

          <div class="blog-post">
            <h2>Список студентов</h2>

            <table class="table table-bordered" style="width: 95%">
                <tr class="student_list"><td>#</td><td>фамилия имя</td><td>адрес</td><td>skype</td><td>курсы</td></tr>
                  {% for student in students_list %}
                   <tr><td>{{ student.id }} </td><td><a href="{% url 'students:detail' student.id%}">{{ student.name }} {{ student.surname }}</a></td><td>{{ student.address }} </td><td>{{ student.skype }} </td>
                   <td> {% for courses in student.courses.all %}
                       <p><a href="{% url 'courses:detail' courses.id%}">{{ courses }}</a></p>
                 {% endfor %}   </td></tr>
                  {% endfor %}
            </table>


          </div><!-- /.blog-post -->

     
      </div><!-- /.row -->
    </div><!-- /.container -->
     
 <footer class="footer" style="margin-top: 200px">
    <p>&copy; 2016 Company, Inc.</p>
  </footer>
   
</div>

     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
     <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="../static/js/bootstrap.js"></script>
  </body>
</html>
