{% extends "base.html" %}


{% block nav_class_student %} active {% endblock %}


{% block title %} Список студентов {% endblock title %}


{% block content %}
      
      <div class="blog-post">
            <h2>Список студентов</h2>

            <table class="table table-bordered" style="width: 95%">
                <tr class="student_list"><td>#</td><td>фамилия имя</td><td>адрес</td><td>skype</td><td>курсы</td></tr>
                  {% for student in students_list %}
                   <tr><td>{{ student.id }} </td><td><a href="{% url 'students:detail' student.id%}">{{ student.name }} {{ student.surname }}</a></td><td>{{ student.address }} </td><td>{{ student.skype }} </td>
                   <td> {% for courses in student.courses.all %}
                       <p><a href="{% url 'courses:detail' courses.id%}">{{ courses }}</a></p>
                 {% endfor %}   </td></tr>
                  {% endfor %}
            </table>
          </div><!-- /.blog-post -->

{% endblock content %}


