{% extends "base.html" %}


{% load staticfiles %}


{% block title %}Remove student{% endblock title %}


{% block active_students %}active{% endblock active_students %}


{% block content %}
<div class="container-fluid">
  <div class="hero-unit">
  <div class="container theme-showcase" role="main">

    <div class="container">
        <h2>{{ delete_student }}</h2>

        <form method="post">
            {% csrf_token %}
        <input type="submit" value="Delete">
        </form>
    </div>
    </div>

  </div>
  </div>
{% endblock content %}