{% extends "base.html" %}


{% block title %}Студенты{% endblock %}


{% block navigation_students %}"active"{% endblock %}


{%  block content %}


<div class="container theme-showcase" role="main">
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<div class="messages">
			{{ message }}
		</div>
		{% endfor %}
	</ul>
    {% endif %}
	<form>
		<button><a class="add_student_button" href="{% url 'students:add' %}">Добавить нового студента</a></button>
	</form>
	<div class="container-fluid">
		<div class="hero-unit">
			<h2 id="title_course">Cписок студентов</h2>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<table class="table">
							<thead>
								<tr>
									<th>#</th>
									<th>фамилия имя</th>
									<th>адрес</th>
									<th>skype</th>
									<th>курсы</th>
								</tr>
							</thead>
							<tbody>
								{% for student in object_list %}
								<tr>
									<td>{{ student.id }}</td>
									<td><a href="{%  url 'students:detail'  student.id %}">{{ student.surname }} {{ student.name }}</a></td>
									<td>{{ student.address }}</td>
									<td>{{ student.skype }}</td>
									<td>
										{% for course in student.get_courses %}
										<p><a href="{%  url 'courses:detail'  course.id %}">{{ course.name }}</a></p>
										{% endfor %}
									</td>
									<td>
										<form>
											<button><a class="add_student_button" href="{% url 'students:edit' student.id %}">Изменить</a></button>
										</form>
									</td>
									<td>
										<form>
											<button><a class="add_student_button" href="{% url 'students:remove' student.id %}">Удалить</a></button>
										</form>
										
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
			{% if is_paginated %}
			
			 <nav>
                <ul class="pagination">
                  <li>
                    {% if page_obj.has_previous %}
                      <a href="?page={{ page_obj.previous_page_number }}" aria-label="<< previous">
                          <span aria-hidden="true">&laquo;</span>
                          previous
                      </a>
                    {% endif %}
                  </li>
                  {% for page in paginator.page_range %}

                    {% if page_obj.number == page %}
                      <li class="active">
                        <a href="#" class="disabled">{{ page }}</a>
                      </li>
                    {% else %}
                      <li>
                        <a href="?page={{ page }}" class="disabled">{{ page }}</a>
                      </li>
                    {% endif %}

                  {% endfor %}
                  {% if page_obj.has_next %}
                  <li>
                    <a href="?page={{ page_obj.next_page_number }}" aria-label="next >>">
                      <span aria-hidden="true">&raquo;</span>
                      next
                    </a>
                  </li>
                  {% endif %}
                </ul>
              </nav>
			  
				{% endif %}
				
				</div>
			</div>
		</div>
		{% endblock %}		