{% extends "base.html" %}


{% block title %}{{ student.surname }}{% endblock %}


{%  block content %}


<div class="container theme-showcase" role="main">
	
	<div class="container-fluid">
		<div class="hero-unit">
			<h2>{{ object.name }} {{ student.surname }}</h2>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<table class="table">
							<tbody>
								<tr>
									<td>дата рождения</td><td>{{ object.date_of_birth }}</td>
								</tr>
								<tr>
									<td>адрес</td><td>{{ object.address }}</td>
								</tr>
								<tr>
									<td>почта</td><td>{{ object.email }}</td>
								</tr>
								<tr>
									<td>логин skype</td><td>{{ object.skype }}</td>
								</tr>
								<tr>
									<td>телефон</td><td>{{ object.phone }}</td>
								</tr>
								<tr>
									<td>курсы</td>
									<td>
										{% for course in object.courses.all %}
										<p><a href="{%  url 'courses:detail'  course.id %}">{{ course.name }}</a></p>
										{% endfor %}
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}