{% extends "base.html" %}


{% load static %}


{% block title %}<title>Brain Bursa student detail</title>{% endblock %}


{% block nav_students %}active{% endblock %}


{% block include %}{% include 'include/header_include.html' %} {%endblock%}


{% block content %}

  <div class = "description">
    <h1 class=title_description>
        {{student.surname}} {{student.name}}
    
</h1>
</div>


<div class="panel panel-default">
<table class="table">
    
    <tr>
        <td class="table_first_student">#</td>
      <td>{{student.id}}</td>
        </tr>
    <tr>
        <td class="table_first_student">дата рождения</td>
      <td>{{student.date_of_birth}}</td>
        </tr>
    <tr>
        <td class="table_first_student">почта</td>
        <td>{{student.email}}</td>
        </tr>
    <tr>
        <td class="table_first_student">телефон</td>
        <td>{{student.phone}}</td>
        </tr>
    <tr>
        <td class="table_first_student">адрес</td>
      <td>{{student.address}}</td>
        </tr>
    <tr>
        <td class="table_first_student">skype</td>
      <td>{{student.skype}}</td>
        </tr>
    <tr>
        <td class="table_first_student">курсы</td>
        <td>{% for courses in student.courses.all %}
                       <p><a href="{% url 'courses:detail' courses.id%}">{{ courses }}</a></p>
                     {% endfor %}
</td></tr>
    </tr>


  </table>
</div>
{% endblock content %}