{% extends "base.html" %}


{% load static %}


{% block title %}<title>Brain Bursa Student list</title>{% endblock %}


{% block nav_students %}active{% endblock %}


{% block include %}{% include 'include/header_include.html' %} {%endblock%}


{% block content %}

{% include 'include/message_include.html' %}

<div>
    <a href="{% url 'students:add'%}">
        <button>+ Добавить нового студента</button>
    </a>
</div>

<div class="description">
    <h1 class=title_description>BrainBursa students list</h1>
    <p class=content_description>Below is a list of the best students of the course </p>
</div>

<h1>Список студентов</h1>
<div class="panel panel-default">
    <table class="table">
        <tr class="title_table">
            <td>#</td>
            <td>фамилия имя</td>
            <td>адрес</td>
            <td>skype</td>
            <td>курсы</td>
            <td></td>
            <td></td>
        </tr>
        {% for student in object_list %}
        <tr class="title_table">
            <td>{{student.id}}</td>
            <td><a href="{% url 'students:detail' student.id%}">{{student.surname}} {{student.name}}</a></td>
            <td>{{student.address}}</td>
            <td>{{student.skype}}</td>
            <td>
                {% for course in student.courses.all %}
                <a href="{% url 'courses:detail' course.id%}">{{course}}</a><br>
                {% endfor %}
            </td>
            <td>
                <a href="{% url 'students:edit' student.id %}">
                    <button>Изменить</button>
                </a>
            </td>
            <td>
                <a href="{% url 'students:remove' student.id %}">
                    <button>Удалить</button>
                </a>
            </td>
        </tr>
        {% endfor %}

    </table>
</div>

{% if is_paginated %}
<ul class="pagination">
    {% if page_obj.has_previous %}
    <li><a href="?{{ course_id_url }}page={{ page_obj.previous_page_number }}"><< previous</a></li>
    {% endif %}

    {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
            <li><a href="?{{ course_id_url }}page={{ i }}">{{ i }}</a></li>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <li><a href="?{{ course_id_url }}page={{ page_obj.next_page_number }}">next >></a></li>
    {% endif %}
</ul>
{% endif %}


{% endblock content %}
