{% extends 'base.html' %}
{% load static %}

{% block title %}Список студентов{% endblock %}

{% block active_student %}active{% endblock %}


{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron min">
        <h2>Список студентов</h2>
        <p>Ниже представлен список студентов, октябрь - ноябрь, 2016</p>
      </div>
      <p><a class="btn btn-success" href="{% url 'students:add' %}">Добавить нового студента</a></p>
	  <div class="table-responsive">
          <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>фамилия имя</th>
                  <th>адрес</th>
                  <th>skype</th>
                  <th>курсы</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {% for student in student_list %}
                    <tr>
                      <td>{{ student.id }}</td>
                      <td><a href="{% url 'students:detail' student.id %}">{{ student.surname }} {{ student.name }}</a></td>
                      <td>{{ student.address }}</td>
                      <td>{{ student.skype }}</td>
                      <td>
                          {% for course in student.courses.all %}
                              <p><a href="{% url 'courses:detail' course.id %}">{{ course }}</a></p>
                          {% endfor %}
                      </td>
                      <td>
                          <a class="btn btn-primary" href="{% url 'students:edit' student.id %}">Изменить</a>
                      </td>
                      <td>
                          <a class="btn btn-danger" href="{% url 'students:remove' student.id %}">Удалить</a></td>
                    </tr>
                {% endfor %}
              </tbody>
          </table>

          {% if is_paginated %}

          <ul class="pagination">
              {% if page_obj.has_previous %}
              <li><a href="?{{ course_id_url }}page={{ page_obj.previous_page_number }}"><< previous</a></li>
              {% endif %}

              {% for page in paginator.page_range %}
              {% if page == page_obj.number %}
              <li class="active"><a href="">{{ page }}<span class="sr-only"></span></a></li>
              {% else %}
              <li><a href="?{{ course_id_url }}page={{ page }}">{{ page }}<span class="sr-only"></span></a></li>
              {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
              <li><a href="?{{ course_id_url }}page={{ page_obj.next_page_number }}">next >></a></li>
              {% endif %}
          </ul>
          {% endif %}

      </div>
      <p><a class="btn btn-success" href="{% url 'students:add' %}">Добавить нового студента</a></p>
{% endblock content %}
