.image {
	background-image: url(../images/python.png);
}

.block-first {
	box-shadow: 0 0 5px 2px rgba(0,0,0,.60)
}

.block-second {
	box-shadow: 0 0 5px 2px rgba(0,0,0,.60)
}
.block-third {
	box-shadow: 0 0 5px 2px rgba(0,0,0,.60)
}

.name {
	font-family: Comic Sans MS;
}

.description {
	font-family: Comic Sans MS;
}

.paragraph {
	font-family: Comic Sans MS;
	color: blue;
}

.description-second {
	font-family: Comic Sans MS;
}

.paragraph-second {
	font-family: Comic Sans MS;
	color: blue;
}

.description-third {
	font-family: Comic Sans MS;
}

.paragraph-third {
	font-family: Comic Sans MS;
	color: blue;
}

.imagee {
	background-image: url(../images/django.png);
}

.block-four {
	box-shadow: 0 0 5px 2px rgba(0,0,0,.60)
}

.block-five {
	box-shadow: 0 0 5px 2px rgba(0,0,0,.60)
}
.block-six {
	box-shadow: 0 0 5px 2px rgba(0,0,0,.60)
}

.name-one {
	font-family: Comic Sans MS;
}

.name-two {
	font-family: Comic Sans MS;
}

.name-three {
	font-family: Comic Sans MS;
}

.info {
	font-family: Oldtown, fantasy;
}

.info2 {
	font-family: Oldtown, fantasy;
}

.info3 {
	font-family: Oldtown, fantasy;
}

.titleinfo {
	color: blue;
}

.titleinfo2 {
	color: blue;
}

.titleinfo3 {
	color: blue;
}