{% extends "base.html" %}


{% load staticfiles %}


{% block title %}Feedback{% endblock title %}


{% block active_feedback %}active{% endblock active_feedback %}


{% block content %}


{% if messages %}
  {% for message in messages %}
    <p>{{ message }}</p>
  {% endfor %}
{% endif %}

<div class="container-fluid">
  <div class="hero-unit">

        <div class="container">
          <h2 class="descr">Обратная связь</h2>
          <div class="row">
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <input type="submit" value="Отправить" class="btn btn-primary"/>
            </form>
           </div>
        </div>
    </div>
    {% include "include/footer_include.html" %}
  </div>
{% endblock content %}
