{% extends "base.html" %}


{% load static %}


{% block title %}<title>Brain Bursa Course detail</title>{% endblock %}


{% block nav_students_link %}{% url 'students:list_view'%}?course_id={{pk}}{% endblock %}


{% block include %}{% include 'include/header_include.html' %} {%endblock%}


{% block content %}
<div class = "description">
    <h1 class=title_description>{{ course.name }}</h1>
    <p class=content_description>{{ course.description|truncatechars:32 }}</p>

</div><!-- /description-->

    <div class = "program">
    <h1 class="program_title">Преподаватели</h1>
</div><!-- /Program-->

    <div class="panel panel-default">

  <!-- Table -->
  <table class="table">
    <tr class="title_table">
       <td>Учитель</td>
    </tr>
      {% for coache in coaches %}
        <tr class="table_first_student">
          <td><a href="{% url 'coaches:detail' coache.id%}">{{ coache.user.first_name }} {{ coache.user.last_name }}</a> <br> {{coache.description}}</td>
        </tr>
    {% endfor %}
  </table>
</div>

    <table class="table">
    <tr class="title_table">
       <td>Ассистент</td>
    </tr>
      {% for assistant in assistants %}
        <tr class="table_first_student">
          <td><a href="{% url 'coaches:detail' assistant.id %}">{{ assistant.user.first_name }} {{ assistant.user.last_name }}</a> <br> {{assistant.description}}</td>
        </tr>
    {% endfor %}
  </table>
</div>



<div class = "program">
    <h1 class="program_title">План курса</h1>
</div><!-- /Program-->

    <div class="panel panel-default">

  <!-- Table -->
  <table class="table">
    <tr class="title_table">
       <td>#</td>
        <td>Тема</td>
      <td>Описание</td>
    </tr>
      {% for lesson in lessons %}
        <tr class="table_first_student">
          <td>{{ lesson.order }}</td>
          <td>{{ lesson.subject }}</td>
            <td>{{ lesson.description }}</td>
        </tr>
    {% endfor %}

  </table>
</div>
{% endblock content %}
