{% extends 'base.html' %}
{% load static %}

{% block title %}Наши контакты (PyBursa){% endblock %}

{% block active_contact %}active{% endblock %}

{% block content %}

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
		<div class="row">
			<div class="col-md-7">
                <h2>Director</h2>
                <div class="alert alert-danger" role="alert">Name: Алексей Радченко</div>
				<div class="alert alert-success" role="alert">Skype: Al.Rad</div>
				<div class="alert alert-info" role="alert">Email: alrad@bursa.com</div>
				<div class="alert alert-warning" role="alert">Phone: +7-999-888-77-66</div>
				<div class="alert alert-purple" role="alert">Разрабатывает проекты с большой нагрузкой и сложной инфраструктурой, например платформу Open edX.</div>
			</div>
			<div class="col-md-5">
				<img class="contact w450" src="../static/images/feature2-image.jpg" />
			</div>
			
		</div>
		<div class="row">
			<div class="col-md-6">
				<img class="contact w500" src="../static/images/feature3-image.jpg" />
			</div>
			<div class="col-md-6">
				<h2>Manager</h2>
				<div class="alert alert-success" role="alert">Name: Ivanov Ivan</div>
				<div class="alert alert-info" role="alert">Skype: Ivanov_i</div>
				<div class="alert alert-warning" role="alert">Email: i_ivanov2017@bursa.com</div>
				<div class="alert alert-danger" role="alert">Phone: +7-888-777-66-55</div>
			</div>
		</div>
        <div class="row">
			<div class="col-md-7">
                <h2>Founder</h2>
                <div class="alert alert-danger" role="alert">Name: Petr Petrov</div>
				<div class="alert alert-success" role="alert">Skype: Petya89</div>
				<div class="alert alert-info" role="alert">Email: petrov89@bursa.com</div>
				<div class="alert alert-warning" role="alert">Phone: +7-999-888-77-66</div>
				<div class="alert alert-purple" role="alert">Phone: +7-777-666-55-44</div>
			</div>
			<div class="col-md-5">
				<img class="contact w400" src="../static/images/feature2-image.jpg" />
			</div>

		</div>
      </div>
{% endblock content %}