{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Контакты{% endblock %}

{% block navigation_contact %}"active"{% endblock %}


{%  block content %}

      <div class="starter-template">
        <h1 class=cont><strong>Contacts</strong></h1><br>
        
	<div>
        <h3 class=dc>Director</h3>
              
         <dl>
           <dt class="text_name">Name</dt>
               <dd> <span></span><img src="{% static 'images/name.png' %}" class=img_name>Ivan Ivanov</dd>
           <dt class="text_skype">Skype</dt>
               <dd><span></span><img src="{% static 'images/skypeout.png' %}" class=img_skype>ivan16</dd>
           <dt class="text_email">Email</dt>
               <dd><span></span><img src="{% static 'images/email.png' %}" class=img_email>ivan16@dom0.tld</dd>
           <dt class="text_phone">Phone</dt>
               <dd> <span></span><img src="{% static 'images/phone.png' %}" class=img_phone>066-555-5555</dd>    
        </dl>       
        
        <div>
        <h3 class=mc>Manager</h3>

         <dl>
           <dt class="text_name">Name</dt>
               <dd> <span></span><img src="{% static 'images/name.png' %}" class=img_name>Peter Petrov</dd>
           <dt class="text_skype">Skype</dt>
               <dd><span></span><img src="{% static 'images/skypeout.png' %}" class=img_skype>peter16</dd>
           <dt class="text_email">Email</dt>
               <dd><span></span><img src="{% static 'images/email.png' %}" class=img_email>peter16@dom1.tld</dd>
           <dt class="text_phone">Phone</dt>
               <dd> <span></span><img src="{% static 'images/phone.png' %}" class=img_phone>067-666-5555</dd>
        </dl>
        
        <div>
        <h3 class=fc>Founder</h3>

         <dl>
           <dt class="text_name">Name</dt>
               <dd> <span></span><img src="{% static 'images/name.png' %}" class=img_name>Oleg Sidorov</dd>
           <dt class="text_skype">Skype</dt>
               <dd><span></span><img src="{% static 'images/skypeout.png' %}" class=img_skype>sidr16</dd>
           <dt class="text_email">Email</dt>
               <dd><span></span><img src="{% static 'images/email.png' %}" class=img_email>sidr16@dom2.tld</dd>
           <dt class="text_phone">Phone</dt>
               <dd> <span></span><img src="{% static 'images/phone.png' %}" class=img_phone>068-777-5555</dd>
        </dl>
             
    </div>	
</div><!-- /.container -->
{% endblock %}
	        
    <nav aria-label="...">
       <ul class="pager">
          <li><a href="{% url 'index' %}">Previous</a></li>
          <li><a href="{% url 'student_list' %}">Next</a></li>
       </ul>
     </nav>
     
    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script>window.jQuery || document.write('<script src="{% static 'js/jquery.min.js' %}"><\/script>')</script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>
