{% extends "base.html" %}


{% load staticfiles %}


{% block title %}PyBursa Main{% endblock title %}


{% block active_main %}active{% endblock active_main %}

{% block content %}
<div class="container-fluid">
  <div class="hero-unit">
    <h2>ItBursa</h2>
    <p>Курсы ItBursa начали работу в 2014 году. Мы специализируемся на «модных» языках программирования. Принципиальное наше отличие от других курсов – максимум практики и жесткая система обязательных домашних заданий. Преподаватели – опытные практикующие разработчики, они помогают участникам в ходе курсов создать реальные проекты и получить практические навыки, применимые к работе. Домашние задания на наших курсах обязательны и их невыполнение приводит к исключению с курсов. Таким образом, мы готовим не просто «слушателей» курсов, а настоящих специалистов, способных создавать пусть простые, но рабочие проекты.</p>
    <p>Более подробную информацию вы можете получить по номерам указанным на странице контакты</p><br>

    <h2>Наши курсы:</h2>
    <div class="container">
			<div class="row">
				<div class="col-md-12">
				  <table class="table">
				    <thead>
				      <tr>
				        <th class="panel-heading">Курс</th>
				        <th class="panel-heading">Описание</th>
				      </tr>
				    </thead>
				    <tbody>
							{% for i in courses %}
				      <tr>
                <td><a href="{%  url 'courses:detail'  i.id %}">{{ i.name|upper }}</a></td>
								<td>{{ i.short_description|title }}</td>
			     	  </tr>
						  {% endfor %}
		 	  	 </tbody>
			 	 </table>
			</div>
	   </div>
	 </div>
{% include "include/footer_include.html" %}
  </div>
</div>
{% endblock content %}
