<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>django</title>
    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">PyBursa</a>
      <a href="index.html"><img class="ico" src="../static/images/py.png"></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="../templates/index.html">Main <span class="sr-only">(current)</span></a></li>
        <li><a href="../templates/contact.html">Contact</a></li>
        <li class="active"><a href="../templates/student_list.html">Students</a></li>
      </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  <h1 class="st">Студенты курса Python&Django by PyBursa</h1>
    <p class="list" >Ниже представлен список студентов выпуска 2016 года</p>
      <div class="list"><h2><table border="2">
        <tr class="tr"><th>No</th><th>Surname</th><th>Name</th><th>Address</th><th>Skype</th></tr>
        <tr class="act_tr"><td><a href="../templates/student_detail.html">1</a></td><td><a href="../templates/student_detail.html">Ivanov</td><td><a href="../templates/student_detail.html">Ivan</td><td><a href="../templates/student_detail.html">Ukraine, Lviv, Ivanova str. 28</td><td><a href="../templates/student_detail.html">ivanoviv</td></tr></div>
        <tr class="simple"><td>2</td><td>Petrov</td><td>Petro</td><td>Ukraine, Kharkov,Petrovskogo str. 18</td><td>petrovP</td></tr>
        <tr class="simple"><td>3</td><td>Senemov</td><td>Semen</td><td>Russia, Belgorod, Semenovskaya str. 38</td><td>S.semenov</td></tr>
        <tr class="simple"><td>4</td><td>Juriev</td><td>Juriy</td><td>Ukraine, Kharkov, Jurieva blvd. 48</td><td>JurkaJ</td></tr>
        <tr class="simple"><td>5</td><td>Alexandrov</td><td>Alexandr</td><td>Kazakhstan, Astana, Alexandrova str. 58</td><td>alex.alex</td></tr>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.js"></script>
  </body>
</html>
