<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <title>Student details</title>
  <link href="../static/css/bootstrap.css" rel="stylesheet">
  <link href="../static/css/style.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <script src="../static/js/jquery.js"></script>
  <script src="../static/js/bootstrap.js"></script></head>
<body>
	<header>
		<ul class="nav nav-tabs">
		  <li role="presentation"><a href="index.html">Main</a></li>
		  <li role="presentation"><a href="contact.html">Contacts</a></li>
		  <li role="presentation" class="active"><a href="student_list.html">Students</a></li>
		</ul>	
	</header>
	<div class="container col-lg-5 col-lg-offset-2">
		<h3 class="upper-text">Hepburn Audrey</h3>
		<img src="../static/images/audrey-h.jpg">
		<table class="table table-hover table-inverse">
		  <tbody>
		    <tr>
		      <th scope="row">Surname</th>
		      <td>Hepburn</td>
		    </tr>
		    <tr>
		      <th scope="row">Name</th>
		      <td>Audrey</td>
		    </tr>
		    <tr>
		      <th scope="row">Patronymic</th>
		      <td>Not available</td>
		    </tr>
		    <tr>
		      <th scope="row">Rating</th>
		      <td>2</td>
		    </tr>
		    <tr>
		      <th scope="row">Average Grade</th>
		      <td>99.8</td>
		    </tr>
		    <tr>
		      <th scope="row">Package</th>
		      <td>Premium</td>
		    </tr>		    
		    <tr>
		      <th scope="row">Birth Date</th>
		      <td>05/04/1929</td>
		    </tr>	
		    <tr>
		      <th scope="row">Address</th>
		      <td>Ixelles, Brussels, Belgium</td>
		    </tr>
		    <tr>
		      <th scope="row">E-mail</th>
		      <td>audrey@uspost.com</td>
		    </tr>	
		    <tr>
		      <th scope="row">Skype</th>
		      <td>Tiffany</td>
		    </tr>
		  </tbody>
		</table>
		<h4>Perfomance</h4>
		<table class="table">
		  <thead>
		    <tr>
		      <th>Course</th>
		      <th>Week</th>
		      <th>Control Type</th>
		      <th>Grade</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
			    <td rowspan="4">PY101 Introduction</td>
			    <td rowspan="2">1</td>
			    <td>Tests</td>
			    <td>100%</td>
		  	</tr>
		  	<tr>
			    <td>Problem Task</td>
			    <td>100%</td>
		  	</tr>
		  	<tr>
			    <td rowspan="2">2</td>
					<td>Tests</td>
			    <td>100%</td>
		  	</tr>
		  	<tr>
			    <td>Problem Task</td>
			    <td>100%</td>
		  	</tr>
		  </tbody>
		</table>
		<p><a class="btn btn-primary btn-lg" href="student_list.html" role="button">Back</a></p>		
	</div>
</body>
</html>