{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Online курсы PyBursa Web-программирования на Python и Django с Алексеем Радченко">
    <meta name="author" content="PyBursa">

    <title>Карточка студента Ивана Иванова</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/navbar.css' %}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">PYBursa</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="{% url 'index' %}">Main</a></li>
              <li><a href="{% url 'contact' %}">Contacts</a></li>
              <li class="active"><a href="{% url 'student_list' %}">Students</a></li>
            </ul>
            
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron min">
        <h2>Ivanov Ivan</h2>
        <p>Student card</p>
        <table class="table table-striped">
              <tbody>
                <tr>
                  <td>Surname</td>
                  <td>Ivanov</td>
                </tr>
                <tr>
                  <td>Name</td>
                  <td>Ivan</td>
                </tr>
                <tr>
                  <td>Patronymic</td>
                  <td>Ivanovich</td>
                </tr>
                <tr>
                  <td>Rating</td>
                  <td>15</td>
                </tr>
                <tr>
                  <td>Average Grade</td>
                  <td>96</td>
                </tr>
                <tr>
                  <td>Package</td>
                  <td>Advance</td>
                </tr>
                <tr>
                  <td>Birth Date</td>
                  <td>03/04/1996</td>
                </tr>
                <tr>
                  <td>Address</td>
                  <td>Россия, Москва, ул. Иванова, 45-111</td>
                </tr>
                <tr>
                  <td>Post</td>
                  <td>112233</td>
                </tr>
                <tr>
                  <td>E-mail</td>
                  <td>iv_iv@mail.ru</td>
                </tr>
                <tr>
                  <td>Skype</td>
                  <td>Iv_iv</td>
                </tr>
              </tbody>
            </table>
        
      </div>
	  <div class="jumbotron min">
        <h3>Performance</h3>
		<div class="table-responsive">
          <table class="table">
            <thead>
                <tr>
                  <th>Course</th>
                  <th>Week</th>
                  <th>Control type</th>
                  <th>Grade</th>
                </tr>
              </thead>
            <tbody>
              <tr>
                <td rowspan="5">PyBursa05: DJ101 Web разработка на Python/Django</td>
                <td rowspan="3">Week 1</td>
                <td>Tests</td>
                <td>99</td>
              </tr>
              <tr>
                  <td>Problem Task #1</td>
                  <td>99</td>
              </tr>
              <tr>
                  <td>Problem Task #2</td>
                  <td>99</td>
              </tr>
              <tr>
                <td rowspan="3">Week 2</td>
                <td>Tests</td>
                <td>100</td>
              </tr>
              <tr>
                  <td>Problem Task #1</td>
                  <td>100</td>
              </tr>

            </tbody>
          </table>
        </div>
	  </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery.min.js' %}"><\/script>')</script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
  </body>
</html>
