<!DOCTYPE html>
<html lang="en">
<head>
  <title>Students list</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/style.css" rel="stylesheet">
  <script src="../static/js/jquery.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">SkyBursa</span></a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="index.html">Main</a></li>
      <li><a href="contact.html">Contacts</a></li>
      <li class="active"><a href="student_list.html">Students</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <h2 align="center" class="red_color">SkyBursa <span class="fine_backround">students</span></h2>
  <p align="center" class="green_color"><span class="font_size_50">SkyBursa</span> students list of 2016 year:</p>
</div>
<center>
<table height="200" width="600">
  <tr class="alert alert-success" role="alert">
    <td><span class="orange_color">No</span></td>
    <td>Surname</td>
    <td class="font_size_15">Name</td>
    <td>Adress</td>
    <td class="font_size_16">Skype</td>
  </tr>
  <tr class="alert alert-info" role="alert">
    <td><a href="student_detail.html">1</td>
    <td><a href="student_detail.html"><span class="font_size_40">Stryukov</span></a></td>
    <td><a href="student_detail.html"><span class="font_family">Eduard</span></td>
    <td><a href="student_detail.html">Ukraine, <span class="bold_text">Kharkiv</span>, str. <span class="italic_text">Chkalova</span>, 11</td>
    <td><a href="student_detail.html">edstrkv_io</td>
  </tr>
  <tr class="alert alert-warning" role="alert">
    <td>2</td>
    <td>Polivanov</td>
    <td>Mikhail</td>
    <td>Ukraine, Kharkiv, str. Chkalova, 17</td>
    <td>m_polivanov</td>
  </tr>
  <tr class="alert alert-danger" role="alert">
    <td>3</td>
    <td class="blue_color">Ulyanov</td>
    <td>Maksim</td>
    <td>Russia, Moskow, str. Melitopolskaya, 17</td>
    <td>ulyanov_92</td>
  </tr>
  <tr class="alert alert-info" role="alert">
    <td>4</td>
    <td>Petuhov</td>
    <td>Valentin</td>
    <td>Russia, Moskow, str. Pushkina, 95</td>
    <td>wylsacom</td>
  </tr>
  <tr class="alert alert-warning" role="alert">
    <td>5</td>
    <td class="gray_color">Lyapota</td>
    <td>Aleksandr</td>
    <td>Ukraine, Kiev, str. Khreshatik, 133</td>
    <td>lyapota_sasha</td>
  </tr>

</center>
</body>
<nav aria-label="...">
  <ul class="pager">
    <li><a href="contact.html">Previous</a></li>
    <li><a href="student_detail.html">Next</a></li>
  </ul>
</nav>


</html>