{% extends "base.html" %}


{% load static %}


{% block title %}<title>Student list Brain Bursa</title>{% endblock %}


{% block nav_students %}active{% endblock %}


{% block include %}{% include 'include/header_include.html' %} {%endblock%}


{% block content %}

<div class = "description">
    <h1 class=title_description>BrainBursa students list</h1>
    <p class=content_description>Below is a list of the best students of the course Python & Django</p>
</div>
<div class="panel panel-default">
  
  <!-- Table -->
  <table class="table">
    <tr class="title_table">
      <td>No</td>
      <td>Surname</td>
      <td>Name</td>
      <td>Address</td>
      <td>Skype</td>
    </tr>
    <tr class="table_first_student">
      <td><a href={% url "student_detail" %}>1</a></td>
      <td>Paschenko</td>
      <td>Tatyana</td>
      <td>Украина, г.Харьков, ул.Иванова, д.36, кв.5</td>
      <td>tanya_vivid</td>
    </tr>
    <tr class="title_another_students">
      <td>2</td>
      <td>Nikitenko</td>
      <td>Darya</td>
      <td>Украина, г.Харьков, ул.Поздних, д.36, кв.5</td>
      <td>nikitenko_t</td>
    </tr>
    <tr class="title_another_students">
      <td>3</td>
      <td>Bucha</td>
      <td>Ivan</td>
      <td>Украина, г.Харьков, ул.Мумухиных, д.38, кв.7</td>
      <td>bucha_ivan</td>
    </tr>
    <tr class="title_another_students">
      <td>4</td>
      <td>Lalaeva</td>
      <td>Ilona</td>
      <td>Украина, г.Харьков, ул.Сказочная, д.7, кв.77</td>
      <td>lalaeva_ilona</td>
    </tr>
    <tr class="title_another_students">
      <td>5</td>
      <td>Gruzinov</td>
      <td>Sergey</td>
      <td>Украина, г.Харьков, ул.Интелегентная, д.5, кв.54</td>
      <td>gruzinov_serg</td>
    </tr>
  </table>
</div>

{% endblock content %}
