<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>About student</title>

    <!-- Bootstrap -->
    {% load static %}
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet">

  </head>
  <body>
 
<div class="container">
     <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
               
          <li><a href="{% url 'index'%}">Main</a></li>
          <li><a href="{% url 'contact'%}">Contacts</a></li>
          <li><a href="{% url 'student_list'%}">Students</a></li>
         
         </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  
    <!-- Main jumbotron for a primary marketing message or call to action -->
 
        
  <div class="container">
    <h1>Акимова Татьяна</h1>
     <div class="media">
       <div class="media-left">
          <img class ="media-object" src="../static/images/5.jpg" alt="Student">
       </div>
  <div class="media-body">
  <p>About student</p>
    <div >
      <table class="student_info">
        <tr><td>Surname</td><td>Акимова</td></tr>
        <tr><td>Name</td><td>Татьяна</td></tr>
        <tr><td>Patronymic</td><td>Юрьевна</td></tr>
        <tr><td>Birth Date</td><td>03.06.1984</td></tr>
        <tr><td>Address</td><td>г. Харьков, ул. Краснодарская, д. 53, кв 24</td></tr>
        <tr><td>Post</td><td>61073</td></tr>
        <tr><td>E-mail</td><td>akimova@mail.ru</td></tr>
        <tr><td>Skype</td><td>akimova</td></tr>
      </table>
    </div>
   
  </div>
 <p>Student perfomance</p>
 <div >
      <table class="student_perfomance">
      <tr bgcolor="#81BEF7" border="1"><td>Course</td><td>Week</td><td>Control Type</td><td>Grade</td></tr>
      <tr bgcolor="#CEF6D8"><td>  Введение в Python </td> 
          <td> week1 </td>
          <td>
            <table> 
              <tr>
                <td>Tests</td>
              </tr>
              <tr>
                <td>Problem Tasks</td>
              </tr>
              </table>
            </td>
            <td>
              <table> 
                <tr>
                  <td>100%</td>
                </tr>
                <tr>
                  <td>90%</td>
                </tr>
              </table>
      </tr>
      </table>
    </div>

      <p>Average Grade and Rating</p>
    <div >
      <table class="student_info">
        <tr><td>Average Grade</td><td>95</td></tr>
        <tr><td>Rating</td><td>20</td></tr>
       
      </table>
    </div>

</div>

  </div>

   

 <footer class="footer">
    <p>&copy; 2016 Company, Inc.</p>
  </footer>


   
</div>

     <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
     <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
  </body>
</html>