{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static '../static/images/icon.ico' %}">

    <title>PyBursa Contacts</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static '../static/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static '../static/css/style.css' %}" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">PyBursa</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'index' %}">Main</a></li>
            <li class="active"><a href="{% url 'contact' %}">Contacts</a></li>
            <li><a href="{% url 'student_list' %}">Students</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="lead">
      <div class="style">      
        <h2 class="director_header">Director</h2>
          <p class="name">Name: Petryk P'yatochkin<br></p>
          <p class="skype">Skype: p_pyat<br></p>
          <p class="email">Email: petro_pyat@gmail.com<br></p>
          <p class="phone">Phone: +380887532784<br></p>
      </div>
      <div class="style">
        <h2 class="manager_header">Manager</h2>
          <p class="name">Name: Denis Denisovich<br></p>
          <p class="skype">Skype: d_den<br>
          <p class="email">Email: denis_den@gmail.com<br>
          <p class="phone">Phone: +380483453484<br></p>
      </div>
      <div class="style">
        <h2 class="founder_header">Founder</h2>
          <p class="name">Name: Vasil Vasilovich<br></p>
          <p class="skype">Skype: v_vas<br></p>
          <p class="email">Email: vasil_vas@gmail.com<br></p>
          <p class="phone">Phone: +380687009574<br></p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/js/bootstrap.min.js"></script>
  </body>
</html>
