{% extends "base.html" %}

{% load static %}


{% block title %}about course{% endblock title %}


{% block student_course %}/students/?course_id={{ curse_id }}{% endblock %}


{% block content %}
  <h1 align="center">{{ course_name }}</h1></br>
   <div align="center">{{ course_name.description|truncatechars:32 }}</div></br>

	<h3>преподаватели</h3>
	<div>Инструктор</div>
	<p><a href="/coaches/{{ course_name.coach.id }}/">{{ course_name.coach.full_name }}</a></p>
	<p>{{ course_name.coach.description }}</p>

	<div>ASSISTENT</div>
	<p><a href="/coaches/{{ course_name.assistant.id }}/">{{ course_name.assistant.full_name }}</a></p>
	<p>{{ course_name.assistant.description }}</p>

   <h3>ПЛАН КУРСА</h3></br>
   <table border="0">
	   <col width="15" valign="top">
	   <col width="200" valign="top">
    	  <tr>
			<th> № </th>
		    <th> КУРС </th>
		    <th> ОПИСАНИЕ </th>
		  </th>
		  </tr>
		  {% for x in lesson_list%}
		  <tr><td>{{ x.id }}</td><td>{{ x.subject }}</td><td> {{ x.description }} </td>
		  </tr>
	      {% endfor %}
   </table>
{% endblock content %}
