{% extends "templates/base.html" %}


{% load static %}


{% block title %}PyBursa Course Details{% endblock %}



{% block content %}


    <div class="container theme-showcase" role="main">
      <div class="jumbotron">
        <h1>{{ course.name }}</h1>
        <p>{{ course.description|truncatechars:32 }}</p>
      </div>

      <div class="page-header">
        <h1>Course plan</h1>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Subject</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              {% for lesson in course.lesson_set.all %}
                <tr>
                  <td>{{ lesson.order }}</td>
                  <td>{{ lesson.subject }}</td>
                  <td>{{ lesson.description }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
    <div class="page-header">
            <h1>Stuff</h1>
          </div>


{% include "templates/inc_coach.html" with panel_title="Coach" coach=course.coach %}


{% include "templates/inc_coach.html" with panel_title="Assistant" coach=course.assistant %}


    </div>


{% endblock content %}