{% extends "base.html" %}


{% load static %}


{% block title %}<title>Brain Bursa Course edit</title>{% endblock %}


{% block nav_students_link %}{% url 'students:list_view'%}?course_id={{pk}}{% endblock %}


{% block include %}{% include 'include/header_include.html' %} {%endblock%}


{% block content %}

{% include 'include/message_include.html' %}

<h1>Change Course</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value = "Изменить"/>
</form>

{% endblock content %}