{% extends "base.html"%}


{% block title %}{{ title }}{% endblock title %}



{% block content %}
{% if messages %}
  <ul class="mess">
    {% for message in messages %}
    <div class="mess">
      {{ message }}
    </div>
    {% endfor %}
  </ul>
{% endif %}
<h2 class="output_form"><p><b>Edit {{ form.instance.name }}</b></p></h2>
  <div class="output_form">
    <form method="post">{% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Edit" />
    </form>
  </div>
{% endblock content %}