{% extends "base.html" %}


{% block title %}Edit course{% endblock %}


{% block active_students %}active{% endblock %}


{%  block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

<div class="container-fluid">
  <div class="hero-unit">

    <div class="container">
        <h2>Editing</h2>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
        <input type="submit" value="edit">
        </form>
    </div>
  </div>
</div>
{% endblock %}