{% extends "base.html" %}

{% load static %}


{% block title %}ooniversity{% endblock title %}


{% block student_course %}{% url 'students:list_view' %}{% endblock %}


{% block content %}

{% include "templates/include/my_first_include.html"%}

		<h3>Сделай свой CHANGE:</h3>
    	<table border="0">
		 	<col width="200" valign="top">
			<col width="1000" valign="top">
    	  <tr>
		    <th> КУРС </th>
		    <th> ОПИСАНИЕ </th>
		  </th>
		  </tr>
		  {% for curse in course_list %}
		  <tr><td><a href="/courses/{{ curse.id }}/" >{{ curse.name|upper }}</a></td><td> {{ curse.short_description|title }}</td>
		  {% endfor %}
		  </tr>
		</table>

		<a href="{% url 'contact' %}" data-toggle="tooltip" title="Click ME!"></a>
		<div class="tooltip top" role="tooltip">
		  <div class="tooltip-arrow"></div>
		  <div class="tooltip-inner">
		    <p>Click me!</p>
		  </div>
		</div>
		<p class="line">.</p>
{% endblock content %}