{% extends "base.html"%}


{% block title %}Remove course{% endblock title %}


<!--{% block nav_class_students%}active{% endblock %}-->


{% block content %}
{% if messages %}
  <ul class="mess">
    {% for message in messages %}
    <div class="mess">
      {{ message }}
    </div>
    {% endfor %}
  </ul>
{% endif %}
<h2 class="output_form"><p><b>Delete courses</b></p></h2>
  <div class="output_form">
    <form method="post">{% csrf_token %}
      {{ model.as_p }}
      <input type="submit" value="Delete" />
    </form>
  </div>
{% endblock content %}