{% extends "base.html" %}

{% load static %}



{% block content %}
<h1 class="title" align="center">Web development on Python/Django</h1>
		<div class="light">	On the course we will introduce you to fraimwork <b>Django</b>,
			make working together the project to Python / Django and spent many more useful.
			More details see on site
			<a href="https://pybursa.university.raccoongang.com/courses/course-v1:PyBursa05+DJ101+2016_T2/about">
				<img src="{% static 'images/logo.png' %}" width="50px" height="50px">PyBursa</a></div>
		<h3>Program</h3>
		<div style="bg1">FIRST WEEK.</div>
		<ol>
			<li><p class="small">Basic concepts html/css.</br></p></li>
			<li><p class="glyphicon-minus:before">GIT html - tags and options </p></li>
			<li><p class="badge">CSS - options and selectors</p></li>
			<li><p class="container">Bootstrap </p></li>
			<li><p class="badge">GIT basic reference</p></li>
		</ol>

		<div style="bg2">Second WEEK. Django first steps</div>
		<ol>
			<li><p class="start_pr">introduction and description of the framework, the project start</p></li>
			<li><p class="browser">Browser debugging tools</p></li>
			<li><p class="HTTP">HTTP (GET, POST), (200, 404, 500), headers, cookies </p></li>
			<li><p class="admin">Admin</p></li>
		</ol>

		<p class="label-info">BEEN VERY INTERESTING</p>

		<a href="{% url 'contact' %}" data-toggle="tooltip" title="Click ME!"><img src="{% static 'images/python.png'%}"></a>
		<div class="tooltip top" role="tooltip">
		  <div class="tooltip-arrow"></div>
		  <div class="tooltip-inner">
		    <p>Click me!</p>
		  </div>
		</div>
		<p class="line">____________________________</p>
{% endblock content %}