{% load static %}
<!DOCTYPE html>
<html>
   <head>
		<title>FIRST STEPS</title>
		<meta name="description">
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Handlee|Indie+Flower" rel="stylesheet"> 
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
		<style type="text/css">
			h1{font-family: 'Indie Flower', cursive;}
			h3{font-family: 'Handlee', cursive;}
		</style>
		<script src="{% static 'bootstrap.min.js' %}"></script>
   </head>
   <body>
   	<nav class=".navbar-inverse">
   		<div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="{% url 'index' %}">Main</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li><a href="{% url 'contact' %}">Contacts</a></li>
		        <li><a href="{% url 'student_list' %}">Students</a></li>
		      </ul>		     
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
    </nav>
    <h1 class="title" align="center">Web development on Python/Django</h1>
		<div class="light">	On the course we will introduce you to fraimwork <b>Django</b>, make working together the project to Python / Django and spent many more useful. More details see on site <a href="https://pybursa.university.raccoongang.com/courses/course-v1:PyBursa05+DJ101+2016_T2/about"> <img src="{% static 'images/logo.png' %}" width="50px" height="50px">PyBursa</a></div>
		<h3>Program</h3>
		<div style="bg1">FIRST WEEK.</div> 
		<ol>
			<li><p class="small">Basic concepts html/css.</br></p></li>
			<li><p class="glyphicon-minus:before">GIT html - tags and options </p></li>
			<li><p class="badge">CSS - options and selectors</p></li>
			<li><p class="container">Bootstrap </p></li>
			<li><p class="badge">GIT basic reference</p></li>
		</ol>

		<div style="bg2">Second WEEK. Django first steps</div> 
		<ol>
			<li><p class="start_pr">introduction and description of the framework, the project start</p></li>
			<li><p class="browser">Browser debugging tools</p></li>
			<li><p class="HTTP">HTTP (GET, POST), (200, 404, 500), headers, cookies </p></li>
			<li><p class="admin">Admin</p></li>
		</ol>

		<p class="label-info">BEEN VERY INTERESTING</p>

		<a href="{% url 'contact' %}" data-toggle="tooltip" title="Click ME!"><img src="{% static 'images/python.png'%}"></a>
		<div class="tooltip top" role="tooltip">
		  <div class="tooltip-arrow"></div>
		  <div class="tooltip-inner">
		    <p>Click me!</p>
		  </div>
		</div>
		<p class="line">____________________________</p>
   </body>
</html>