{% extends 'base.html' %}
{% load static %}

{% block title %}Преподаватель {{ coach.get_name }} {{ coach.get_lastname }}{% endblock %}

{% block active_index %}active{% endblock %}

{% block content %}

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron min">
        <h3>{{ coach.get_name }} {{ coach.get_lastname }}</h3>
      </div>
	  <div class="table-responsive">
            <table class="table table-striped">
              <tbody>
                    <tr>
                      <td>дата рождения</td>
                      <td>{{ coach.date_of_birth|date:"d F, Y" }}</td>
                    </tr>
                    <tr>
                        <td>адрес</td>
                        <td>{{ coach.address }}</td>
                    </tr>
                    <tr>
                        <td>почта</td>
                        <td>{{ coach.get_email }}</td>
                    </tr>
                    <tr>
                        <td>логин skype</td>
                        <td>{{ coach.skype }}</td>
                    </tr>
                    <tr>
                        <td>телефон</td>
                        <td>{{ coach.phone }}</td>
                    </tr>
                    <tr>
                        <td>курсы учитель</td>
                        <td>
                          {% for course in coach.get_courses_coach %}
                              <p><a href="{% url 'courses:detail' course.id %}">{{ course }}</a>
                                 <a href="{% url 'students:list_view' %}?course_id={{ course.id }}">
                                      студенты курса
                                      <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                                 </a>
                              </p>
                          {% endfor %}
                      </td>
                    </tr>
                    <tr>
                        <td>курсы ассистент</td>
                        <td>
                          {% for course in coach.get_courses_assistant %}
                              <p><a href="{% url 'courses:detail' course.id %}">{{ course }}</a>
                                 <a href="{% url 'students:list_view' %}?course_id={{ course.id }}">
                                      студенты курса
                                      <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                                 </a>
                              </p>
                          {% endfor %}
                      </td>
                    </tr>
              </tbody>
            </table>
      </div>
    {% include 'include/copyright_include.html' %}
{% endblock content %}